@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* Common CSS*/
.hide {
    display: none;
}


/* Header Section Start */
.header-section {
    border: 1px solid white;
    width: 100%;
    box-shadow: 0px 1px 10px 0px #0000002c;
}

.nav-bar {
    width: calc(100% - 8rem);
    max-width: 1440px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.logo-section img {
    height: 40px;
}

.logo-section h2 {
    font-size: 36px;
}

.logo-section h2 span {
    color: #FF42A5;
    font-size: 38px;
}

.menu-section {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    gap: 20px;
}

.developers,
.about {
    cursor: pointer;
    padding: 1px;
}

.developers:hover,
.about:hover {
    text-decoration: underline;
}

.follow-us {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #0b02231a;
    border-radius: 8px;
    height: 56px;
    width: 260px;
}

.follow-icons {
    display: flex;
    gap: 10px;
}

.yt-icon {
    color: red;
    cursor: pointer;
}

.tik-icon {
    cursor: pointer;
}

/* Header Section End */


/* Hero Section Start */
.hero-section{
    background-image: url(./images/BackGround.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-1{
    width: calc(100% - 8rem);
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-1-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.play-like{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}
.goat{
    text-transform: uppercase;
    font-size: 95px;
    font-weight: 800;
    line-height: 111px;
    background: linear-gradient(#f948b2,#8758f1);
    background-clip: text;
    color: transparent;
}
.guideline{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
}
.instant-play{
    display: flex;
    gap: 13px;
    color: #FF42A5;
}
.no-download{
    display: flex;
    gap: 13px;
    color: #FF42A5;
}
.support-player{
    display: flex;
    gap: 10px;
}

.instant-play p, .no-download p, .support-player p{
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.hero1-buttons{
    display: flex;
    margin: 10px 0;
    gap: 30px;
}
.hero1-button{
    padding: 21px 40px;
    border-radius: 48px;
    border: transparent;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.sign-in{
    background-color: #FF42A5;
}
.go-rogue{
    background-color: #4EC5F7;
}
/* .hero-1-image{} */

.hero-2{
    background-image: url(./images/BackGround.png);
    background-repeat: no-repeat;
    display: flex;
    background-position: right;
    /* transform: rotate(120deg); */
    flex-direction: row-reverse;
    width: calc(100% - 8rem);
    max-width: 1440px;
    margin: 14px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-2-content{}
.hero2-heading{}
.hero2-text{}
.hero2-button{}
.know-more{}
.our-purpose{}
.hero-2-image{}

/* Hero Section End */